@media print {
  body * {
    visibility: hidden;
  }

  .invoice-slip,
  .invoice-slip * {
    visibility: visible;
  }

  .invoice-slip {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border: 0 !important;
  }
}
